header {
  background-color: $bg-secondary;
  height: 15vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  margin: 0px 20px;
  @include phone {
    margin: 0px 50px;
  }
  & a {
    display: flex;
    font-size: 2rem;
    justify-content: space-around;
    text-decoration: none;
    color: black;
    & .header-logo__text {
      font-family: $logo-text;
      padding-left: 0.5rem;
    }
  }
  &-cart__cart {
    font-family: $font-text;

    & a {
      text-decoration: none;
      color: black;
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      @include phone {
        font-size: 2rem;
      }
      & span {
        padding-left: 10px;
      }
    }
  }
}
