.main {
  font-family: $font-text;
  background-color: $bg-primary;
  min-height: 50vh;
  padding-top: 2rem;
}

.main-welcome {
  background-color: $bg-tertiary;
  color: $bg-secondary;
  max-width: 100%;
  min-height: 120px;
  max-height: fit-content;
  border-radius: 12px;
  margin: 0px 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  @include phone {
    width: 50%;
    margin: 0px 25%;
  }
  @include desktop {
    margin: 0px 30%;
    width: 40%;
  }
  &__title {
    font-size: 1.4rem;
    padding: 20px 10px;
    @include phone {
      font-size: 2rem;
      font-weight: lighter;
    }
  }
  &__text {
    font-size: 1rem;
    padding: 0px 10px;
    padding-bottom: 20px;
  }
}

.main-category {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @include desktop {
    justify-content: space-around;
  }
}

.main-item {
  background-color: $bg-card;
  width: 80%;
  min-height: 150px;
  max-height: fit-content;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  // border: 3px solid black;
  margin: 30px 15px;
  padding: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 0.3fr 0.3fr;
  gap: 0px 0px;
  grid-template-areas:
    "IMG IMG IMG IMG"
    "IMG IMG IMG IMG"
    "Name . Product Product"
    "Price . Product Product";
  @include phone {
    // grid-template-areas:
    //   "IMG IMG IMG IMG"
    //   "IMG IMG IMG IMG"
    //   "Name . Product Product"
    //   "Price . Product Product";
    width: 40%;
  }
  @include desktop {
    width: 30%;
  }
  & img {
    width: 100%;
    min-height: 20vh;
    max-height: 30vh;
    border-radius: 12px 12px 0px 0px;
    grid-area: IMG;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    @include desktop {
      min-height: 30vh;
    }
  }
  &__name {
    grid-area: Name;
    margin-top: 10px;
    width: 130px;
  }
  &__price {
    grid-area: Price;
  }
  &__product {
    margin: 5px 0px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    background-color: $bg-tertiary;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    color: $color-primary;
  }
  &__cart {
    grid-area: Cart;
  }
  & a {
    text-decoration: none;
    color: $color-primary;
    grid-area: Product;
    min-width: 80px;
  }
}
